$color-turquoise--light: #c0e0dd;
$color-turquoise--medium: rgb(135, 181, 176);
$color-turquoise--dark: #4ba6a6;
$color-gray--light: #eaeaea;
$color-gray--dark: #1e1e1e;
$color-white: white;
$color-bg: rgb(237, 235, 235);
$color-text : #444;